.formInp{
    width: 100%;
    height: auto;
}

.btn-regForm{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 80px;
    margin: 5px 0;
    border-radius: 30px;
    transition: 0.5s;
    border: none;
}